.boxContent {
    max-width: 400px;
    width: 100%;
    height: fit-content;
    position: sticky;
    top: 105px;
    padding: 10px;
    bottom: 425px;
    background-color: white;
    border-radius: 10px;
    margin-left: 16px;
}

.listMenuIcon {
    background-color: transparent;
    width: 100%;
    height: 100%;
    position: relative;
}

.w-full {
    width: 100%;
}

.marin-right-3 {
    margin-right: 10px;
}

.iconContentLeft {
    font-size: 24px;
}

.uppercase {
    text-transform: uppercase;
}

.font-semibold {
    font-weight: 600;
}

.imgContentLeft {
    width: 40px;
    height: 40px;
    border-radius: 3px;
    margin-right: 10px;
}

.box-shadow {
    transition: box-shadow 0.3s ease;
}

.box-shadow.selected {
    transform: scale(1.1);
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
}

.box-shadow:hover {
    background-color: rgba(255, 255, 255, 0.5);
    opacity: 0.7;

}

.box-shadow.active {
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
}

.underline-on-hover {
    text-decoration: none;
}

.underline-on-hover:hover {
    text-decoration: underline;
}